{{define "config/import.html"}}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Storage Export</title>
<link rel="stylesheet" type="text/css" href="{{.basePath}}/css/common.css">
<link rel="stylesheet" type="text/css" href="{{.basePath}}css/settings.css">
<script type="text/javascript" src="{{.basePath}}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{.basePath}}/js/jquery/form.js"></script>
</head>
<body>
{{template "header.html" .}}
<div class="container">
    <form action="importSave" method="post">
    <div class="form">
        <textarea name="content" rows="15" cols="100"></textarea><br />
        <button type="submit">Import</button>
        <div class="tip">
            * If the strategy/task/etc to be imported has already existed (By id) it will be ignored. <br />
        </div>
    </div>
    </form>
</div>
{{template "footer.html" .}}
<script type="text/javascript">
$(function() {

$(".container form").ajaxForm({
    success: function(data) {
        if (data.errno == 0) {
            var msg = "Found " + data.strategiesTotal + " strategie(s), ";
            msg += "import " + data.strategiesSuccess;
            if (data.strategiesTotal == data.strategiesSuccess) {
                msg += ", all done";
            }

            msg += "\nFound " + data.tasksTotal + " task(s), ";
            msg += "import " + data.tasksSuccess;
            if (data.tasksTotal == data.tasksSuccess) {
                msg += ", all done";
            }
            alert(msg)
        } else {
            alert(data.errdesc);
        }
    }
});

});
</script>
</body>
</html>
{{end}}