{{define "config/modify.html"}}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Storage Settings</title>
<link rel="stylesheet" type="text/css" href="{{.basePath}}css/common.css">
<link rel="stylesheet" type="text/css" href="{{.basePath}}css/settings.css">
<script type="text/javascript" src="{{.basePath}}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{.basePath}}js/jquery/form.js"></script>
</head>
<body>
{{template "header.html" .}}
<div class="container">
<form action="save" method="post" id="frmSettings">
    <input type="hidden" name="test" value="0" />
    <div class="form">
        <h2>Storage Settings</h2>
        <li>
            <label for="selType">Type: </label>
            <div class="unit">
                <input id="typeRedis" type="radio" name="type" value="redis" /><label for="typeRedis">Redis</label>
                <input id="typeZookeeper" type="radio" name="type" value="zookeeper" /><label for="typeZookeeper">ZooKeeper</label>
                <input id="typeDatabase" type="radio" name="type" value="database" /><label for="typeDatabase">Database</label>
                <input id="typeEtcdv2" type="radio" name="type" value="etcdv2" /><label for="typeEtcdv2">Etcdv2</label>
                <input id="typeEtcdv3" type="radio" name="type" value="etcdv3" /><label for="typeEtcdv3">Etcdv3</label>
            </div>
            <li class="tip">
                <b>For Database</b>, the pattern should be <br />
                <b>drivername://ip:port/db?info_table=schedule_info</b><br />
                And if you take `schedule_info` by default you can write it in short if you use `mysql`:<br />
                <b>mysql://ip:port/db</b><br />
                Currently only MySQL driver is introduced(in console).<br />
                <b>For others</b>, it should be in pattern <b>ip:port</b>
            </li>
        </li>
        <li>
            <label for="txtAddress">Adress: </label>
            <input id="txtAddress" name="address" type="text" value="{{ .addr }}" placeholder="eg. 192.168.0.1:2181" />
        </li>
        <li>
            <label for="txtUsername">Username: </label>
            <input id="txtUsername" name="username" type="text" value="{{ .username }}" placeholder="Can be empty if not necessary" />
        </li>
        <li>
            <label for="txtPassword">Password: </label>
            <input id="txtPassword" name="password" type="text" value="{{ .password }}" placeholder="Can be empty if not necessary" />
        </li>
        <li>
            <label for="txtNamespace">Namespace: </label>
            <input id="txtNamespace" name="namespace" type="text" value="{{ .namespace }}" placeholder="Better in the form /schedule/project/module" />
        </li>
        <li>
            <button tpye="button" id="btnTest" class="btn">Test</button>
            <button type="button" id="btnSubmit">Save</button>
        </li>
        <li class="tip" id="msg"></li>
    </div>
</form>
</div>
<script>
$(function() {

$("input[name='type'][value='{{ .type }}']").attr("checked", true);
$("#frmSettings").ajaxForm({
    success: function(data) {
        $(".form button").attr("disabled", false);
        if (data.errno == 0) {
            $("#msg").removeClass("fail");
            if (data.test) {
                $("#msg").html("Test passed");
            } else {
                document.location.href = '../strategy/index';
            }
        } else {
            $("#msg").html(data.errdesc);
            $("#msg").addClass("fail");
        }
    }
});
$("#btnTest").click(function() {
    $("#msg").html("Testing ...");
    $(".form button").attr("disabled", true);
    $("#frmSettings input[name='test']").val("1");
    $("#frmSettings").submit();
    return false;
});
$("#btnSubmit").click(function() {
    $("#msg").html("Submiting ...");
    $(".form button").attr("disabled", true);
    $("#frmSettings input[name='test']").val("0");
    $("#frmSettings").submit();
    return false;
});

})
</script>
{{template "footer.html" .}}
</body>
</html>
{{end}}