{{define "strategy/index.html"}}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Strategies</title>
<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/strategy.css">
<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/js/jquery/form.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
{{template "header.html" .}}
<div class="container">
<table id="strategyList">
    <thead>
        <tr>
            <th>NO</th>
            <th>Operation</th>
            <th>ID</th>
            <th>Status</th>
            <th>Limit/Total</th>
            <th>Target</th>
            <th>Kind</th>
            <th>Bind</th>
            <th>Parameter</th>
        </tr>
    </thead>
    <tbody>
        {{range $i, $s := .strategies}}
        <tr data-id="{{$s.ID}}" {{if not $s.Enabled}} class="stopped"{{end}}>
            <td>{{add $i 1}}</td>
            <td>
                <a class="btnEdit" href="javascript:void(0)" data-id="{{$s.ID}}">Edit</a>
                <a class="btnRemove" href="javascript:void(0)" data-id="{{$s.ID}}">Remove</a>
                {{if $s.Enabled}}
                <a class="btnControl" href="javascript:void(0)" data-cmd="pause">Pause</a>
                {{else}}
                <a class="btnControl resume" href="javascript:void(0)" data-cmd="resume">Resume</a>
                {{end}}
            </td>
            <td>{{$s.ID}}</td>
            <td>{{if $s.Enabled}}Normal{{else}}Disabled{{end}}</td>
            <td>{{$s.MaxOnSingleScheduler}}/{{$s.Total}}</td>
            <td>
                {{range $i, $ip := $s.IPList}}
                    {{if gt $i 0}}<br />{{end}}
                    {{$ip}}
                {{end}}
            </td>
            <td>
                {{if eq $s.Kind 1}}Simple{{end}}
                {{if eq $s.Kind 2}}Func{{end}}
                {{if eq $s.Kind 3}}Task{{end}}
            </td>
            <td>
                {{$s.Bind}}
            </td>
            <td>{{$s.Parameter}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
<table id="runtimeList" style="margin: 20px 0;">
    <thead>
        <tr>
            <th>NO</th>
            <th>StrategyId</th>
            <th>SchedulerId</th>
            <th>Num</th>
            <th>RequestedNum</th>
            <th>CreateAt</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div class="frmCreate">
    <a class="create" href="javascript:void(0)">Create Strategy</a>
    <form action="create" method="post">
    <div class="form">
        <li>
            <label for="txtId">ID: </label>
            <input id="txtId" name="id" type="text" placeholder="eg. RecycleHistoryStrategy" />
        </li>
        <li>
            <label for="selKind">Kind: </label>
            <div class="unit">
                <input id="kindSimple" type="radio" name="kind" value="simple" checked /><label for="kindSimple">Simple</label>
                <input id="kindFunc" type="radio" name="kind" value="func" /><label for="kindFunc">Func</label>
                <input id="kindTask" type="radio" name="kind" value="task" /><label for="kindTask">Task</label>
            </div>
        </li>
        <li>
            <label for="txtBind">Bind: </label>
            <input id="txtBind" name="bind" type="text" placeholder="According to Kind" />
            <div class="hint">
            </div>
        </li>
        <li>
            <label for="txtLimit">Limit: </label>
            <input id="txtLimit" name="limit" type="text" value="0" />
            <div class="hint">
                How many workers can be created on same scheduler(node).<br />
                Zero for unlimited.
            </div>
        </li>
        <li>
            <label for="txtTotal">Total: </label>
            <input id="txtTotal" name="total" type="text" value="1" />
        </li>
        <li>
            <label for="txtParameter">Parameter: </label>
            <input id="txtParameter" name="parameter" type="text" />
            <div class="hint">
                No effect to <b>Task</b>. Parameter in definition of task replaces it.
            </div>
        </li>
        <li>
            <label for="txtTarget">Target: </label>
            <input id="txtTarget" name="target" type="text" value="127.0.0.1" />
            <div class="hint">
                Target represents which node/nodes can be scheduled on for this strategy.<br />
                Target can be <b>hostname</b> or <b>ip</b>. And they can be inferred from column <b>ID</b> of <a href="scheduler/index" target="_blank">Schedulers</a> page.<br />
                If they don't make sense maybe you should make sure that hostname is resolved correctly(eg. /etc/hosts).<br />
                Multiple values can be separated using comma(<b>,</b>).<br />
                <b>127.0.0.1</b> or <b>localhost</b> for unlimited.
            </div>
        </li>
        <li>
            <label for="txtCronBegin">Cron Begin: </label>
            <input id="txtCronBegin" name="cronBegin" type="text" />
        </li>
        <li>
            <label for="txtCronEnd">Cron End: </label>
            <input id="txtCronEnd" name="cronEnd" type="text" />
            <div class="hint">
                <b>CronBegin</b>/<b>CronEnd</b> follows general syntax of unix cron with <b>seconds</b> precise supported.<br />
                Usage: <b>second minute hour day month week</b><br />
                Example: 0 0 * * * ? means beginning of each hour<br />
                <br />
                Cron of strategy can work in two models: <b>Single begin</b> and <b>Both</b><br />
                If both of them are set indicating a valid time range it generally means available running time. (Implemented by different workers)<br />
                For begin only model it may have different definitions between different types of worker.<br />
                For instance, single shot for <b>FuncWorker</b> while continuous scheduling until empty data set returned by select() for <b>TaskWorker</b> .<br />
                For more details please refer to documentation.
            </div>
        </li>
        <li>
            <button type="submit" id="btnSubmit">Submit</button>
            <button type="button" id="btnCancel">Cancel</button>
        </li>
        <li class="tip"></li>
    </div>
    </form>
</div>

</div>
<script>
$(function() {

$(".frmCreate .create").click(function() {
    var $form = $(".frmCreate .form");
    $(".frmCreate form")[0].reset();
    $form.find("[name='id']").attr("readonly", false);
    $(".frmCreate form").attr("action", "create");
    $form.show(100);
});
$("#btnCancel").click(function() {
    $(".frmCreate .form").hide(100);
});
$(".frmCreate form").ajaxForm({
    beforeSerialize: function(data) {
        $(".tip").removeClass("fail");
        $(".tip").html("Submitting");
    },
    success: function(data) {
        if (data.errno == 0) {
            document.location.reload();
        } else {
            $(".tip").html(data.errdesc);
            $(".tip").addClass("fail");
        }
    }
});
var clickCallback = function(data) {
    if (data.errno == 0) {
        document.location.reload();
    } else {
        alert(data.errdesc);
    }
};
$(".btnControl").click(function() {
    var $this = $(this);
    var $row = $this.parents("tr");
    var id = $row.find("td:eq(2)").text();
    var cmd = $this.data("cmd");
    if (cmd == 'resume') {
        if (!confirm('Sure to resume strategy "' + id + '"?')) {
            return false;
        }
        $.getJSON('resume?id=' + encodeURIComponent(id), clickCallback);
    } else {
        if (!confirm('Sure to pause strategy "' + id + '"?')) {
            return false;
        }
        $.getJSON('pause?id=' + encodeURIComponent(id), clickCallback);
    }
    return false;
});
$(".btnRemove").click(function() {
    var $this = $(this);
    var id = $this.data("id");
    if (!confirm("Confirm to remove strategy [" + id + "]?")) {
        return false;
    }
    $.getJSON('remove?id=' + encodeURIComponent(id), function(data) {
        if (data.errno == 0) {
            document.location.reload();
        } else {
            alert(data.errdesc);
        }
    });
    return false;
});
function updateForm(obj) {
    var $form = $(".frmCreate form");
    $form.find("[name='id']").val(obj.ID);
    $form.find("[name='id']").attr("readonly", true);
    switch (obj.Kind) {
        case 2:
            // func
            $form.find("[name='kind'][value='func']").click();
            break;
        case 3:
            // task
            $form.find("[name='kind'][value='task']").click();
            break;
        default:
            // simple
            $form.find("[name='kind'][value='simple']").click();
            break;
    }
    $form.find("[name='bind']").val(obj.Bind);
    $form.find("[name='limit']").val(obj.MaxOnSingleScheduler);
    $form.find("[name='total']").val(obj.Total);
    $form.find("[name='parameter']").val(obj.Parameter);
    $form.find("[name='target']").val(obj.IPList.join(","));
    $form.find("[name='cronBegin']").val(obj.CronBegin);
    $form.find("[name='cronEnd']").val(obj.CronEnd);
    $form.attr("action", "save");
    $(".frmCreate .form").show(100);
}
$(".btnEdit").click(function() {
    var $this = $(this);
    var id = $this.data("id");
    $.getJSON('get?id=' + encodeURIComponent(id), function(data) {
        if (data.errno == 0) {
            updateForm(data.strategy);
        } else {
            alert(data.errdesc);
        }
    });
    return false;
})
$("#strategyList tbody tr").click(function() {
    var $this = $(this);
    if ($this.hasClass("stopped")) {
        return false;
    }
    if (!$this.hasClass("selected")) {
        $this.parent().find(".selected").removeClass("selected");
        $this.addClass("selected");
    }
    var id = $this.data("id");
    $.getJSON("info?id=" + encodeURIComponent(id), function(data) {
        if (data.errno != 0) {
            alert(data.errdesc);
            return;
        }
        var $tbody = $("#runtimeList tbody");
        var html = '';
        for (var i = 0; i < data.runtimes.length; i ++) {
            html += '<tr>';
            html += '<td>' + (i + 1) + '</td>';
            html += '<td>' + data.runtimes[i].StrategyID + '</td>';
            html += '<td>' + data.runtimes[i].SchedulerID + '</td>';
            html += '<td>' + data.runtimes[i].Num + '</td>';
            html += '<td>' + data.runtimes[i].RequestedNum + '</td>';
            html += '<td>' + formatMillis(data.runtimes[i].CreateAt) + '</td>';
            html += '</tr>';
        }
        $tbody.html(html);
    });
});

})
</script>
{{template "footer.html" .}}
</body>
</html>
{{end}}